/* Inline code */
:not(pre) > code {
  padding: 0.05em 0.5em 0;
  font-size: 0.95em;
  background-color: var(--white);
  border: 1px solid var(--faint);
  border-radius: 0.15em;
}

a :not(pre) > code {
  border-bottom-color: var(--ink);
}

/* Match the visual appearance of the global `a` and `a:hover` rules */

a:hover :not(pre) > code {
  border-bottom-color: var(--faint);
}
