*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-primary);
  font-size: var(--font-step-0);
  line-height: 2;
  color: var(--ink);
  background-color: var(--background);
}

body {
  max-width: 66ch;
  min-height: 100svh;
  padding: var(--space-xl) var(--space-s-m) var(--space-2xl);
  margin: 0 auto;
}

p {
  margin-block: 1.3em;
}

a {
  --_a-border-style: var(--a-border-style, solid);

  color: var(--ink);
  text-decoration: none;
  border-bottom: 1px var(--_a-border-style) var(--ink);

  &:visited {
    color: var(--visited);
    border-bottom-color: var(--visited);
  }

  &:hover {
    --a-border-style: dashed;
  }
}

small {
  font-size: var(--font-step--1);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

caption {
  font-size: var(--font-step--2);
}

figcaption {
  font-size: var(--font-step--2);
  text-align: center;
}

/* * Utility classes */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  clip-path: inset(50%);
}

/* * Headings */

h1 {
  margin-block-end: var(--space-s);
  font-size: var(--font-step-3);
  line-height: 1.1;
}

h2 {
  font-size: var(--font-step-2);
  line-height: 1.2;
}

h3 {
  font-size: var(--font-step-1);
  line-height: 1.3;
}

/* * Code */

code {
  font-family: var(--font-code);
}

/* Inline code */
:not(pre) > code {
  padding: 0.05em 0.5em;
  font-size: 0.95em;
  background-color: var(--white);
  border: 1px solid var(--faint);
  border-radius: 0.15em;
}

a {
  & :not(pre) > code {
    border-bottom-color: var(--ink);
  }

  /* Match the visual appearance of the global `a` and `a:hover` rules */
  &:hover :not(pre) > code {
    border-bottom-color: var(--faint);
  }
}
