*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--background);
}

body {
  width: 100%;
  max-width: 650px;
  min-height: 100svh;
  padding: 4rem 2rem 6rem;
  margin: 0 auto;
  font-family: var(--font-primary);
  font-size: 1rem;
  line-height: 2;
  color: var(--ink);
}

p {
  margin-block: 1.3em;
}

a {
  color: var(--ink);
  text-decoration: none;
  border-bottom: 1px solid var(--ink);

  &:visited {
    color: var(--visited);
    border-bottom-color: var(--visited);
  }

  &:hover {
    border-bottom-style: dashed;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

figcaption {
  text-align: center;
}

/* * Utility classes */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  clip-path: inset(50%);
}

/* * Headings */

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.6em;
  line-height: 1.2;
}

h3 {
  font-size: 1.2em;
  line-height: 1.3;
}

/* FIXME 2026-05-04: Can we avoid repetition below? */
.heading-self-link {
  border-bottom-style: none;

  &:visited {
    color: inherit;
  }

  &:hover {
    border-bottom-style: none;

    &::after {
      color: var(--accent);
      content: " §";
    }
  }
}

/* * Code */

code {
  font-family: var(--font-code);
}

/* Inline code */
:not(pre) > code {
  padding: 0.05em 0.5em;
  font-size: 0.95em;
  background-color: var(--white);
  border: 1px solid var(--faint);
  border-radius: 0.15em;
}

a {
  & :not(pre) > code {
    border-bottom-color: var(--ink);
  }

  /* Match the visual appearance of the global `a` and `a:hover` rules */
  &:hover :not(pre) > code {
    border-bottom-color: var(--faint);
  }
}
