:root {
  background: var(--background);
}

body {
  width: 100%;
  max-width: 650px;
  min-height: 100vh;
  padding: 4rem 2rem 6rem;
  margin: 0 auto;
  font-family: var(--font-primary);
  font-size: 1rem;
  line-height: 2;
  color: var(--ink);
}

h1,
h2,
h3 {
  font-size: 1.8em;
  line-height: 1.3;
}

a {
  color: var(--ink);
  text-decoration: none;
  border-bottom: 1px solid var(--ink);

  &:hover {
    border-bottom: 0;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

figcaption {
  text-align: center;
}

/* * Utility classes */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  clip: rect(0, 0, 0, 0);
}

/* * Code */

code {
  font-family: var(--font-code);
}

/* Inline code */
:not(pre) > code {
  padding: 0.05em 0.5em 0;
  font-size: 0.95em;
  background-color: var(--white);
  border: 1px solid var(--faint);
  border-radius: 0.15em;
}

a :not(pre) > code {
  border-bottom-color: var(--ink);
}

/* Match the visual appearance of the global `a` and `a:hover` rules */

a:hover :not(pre) > code {
  border-bottom-color: var(--faint);
}

/* * Headings */

.heading-self-link {
  border-bottom: none;

  &:hover::after {
    color: var(--accent);
    content: " §";
  }
}
