@mixin breakout($size: var(--space-s)) {
  --_breakout: calc(#{$size} + var(--page-side-padding));
  width: calc(100% + var(--_breakout) * 2);
  margin-left: calc(-1 * var(--_breakout));
  padding-left: var(--page-side-padding);
  padding-right: var(--page-side-padding);
}
