:root {
  background: var(--background);
}

body {
  width: 100%;
  max-width: 650px;
  min-height: 100vh;
  padding: 4rem 2rem 6rem;
  margin: 0 auto;
  font-family: var(--font-primary);
  font-size: 17px;
  line-height: 2;
  color: var(--ink);
}

code {
  font-family: var(--font-code);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

figcaption {
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  clip: rect(0, 0, 0, 0);
}
