/* Fluid typography calculated from Uptopia.fyi */
/* @link https://utopia.fyi/type/calculator?c=360,15,1.2,1240,16,1.2,5,2,&s=0.75|0.5|2|3|2|3|4,1.5|2|3|4|6,s-l&g=s%2Cl%2Cxl%2C12%2Cl%2Cxl%2C12,l,xl,12 */
:root {
  --font-step--2: clamp(0.651rem, 0.6333rem + 0.0789vw, 0.6944rem);
  --font-step--1: clamp(0.7813rem, 0.7599rem + 0.0947vw, 0.8333rem);
  --font-step-0: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --font-step-1: clamp(1.125rem, 1.0943rem + 0.1364vw, 1.2rem);
  --font-step-2: clamp(1.35rem, 1.3132rem + 0.1636vw, 1.44rem);
  --font-step-3: clamp(1.62rem, 1.5758rem + 0.1964vw, 1.728rem);
  --font-step-4: clamp(1.944rem, 1.891rem + 0.2356vw, 2.0736rem);
  --font-step-5: clamp(2.3328rem, 2.2692rem + 0.2828vw, 2.4883rem);
}

/* Fluid spacing */
/* @link https://utopia.fyi/space/calculator?c=360,15,1.2,1240,16,1.25,5,2,1440&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s%2Cl%2Cxl%2C12%2Cl%2Cxl%2C12%2Cl%2Cxl%2C12%2Cl%2Cxl%2C12,l,xl,12 */
:root {
  --space-3xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
  --space-2xs: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
  --space-xs: clamp(0.6875rem, 0.6619rem + 0.1136vw, 0.75rem);
  --space-s: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --space-m: clamp(1.4375rem, 1.4119rem + 0.1136vw, 1.5rem);
  --space-l: clamp(1.875rem, 1.8239rem + 0.2273vw, 2rem);
  --space-xl: clamp(2.8125rem, 2.7358rem + 0.3409vw, 3rem);
  --space-2xl: clamp(3.75rem, 3.6477rem + 0.4545vw, 4rem);
  --space-3xl: clamp(5.625rem, 5.4716rem + 0.6818vw, 6rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1477rem + 0.4545vw, 0.5rem);
  --space-2xs-xs: clamp(0.5rem, 0.3977rem + 0.4545vw, 0.75rem);
  --space-xs-s: clamp(0.6875rem, 0.5597rem + 0.5682vw, 1rem);
  --space-s-m: clamp(0.9375rem, 0.7074rem + 1.0227vw, 1.5rem);
  --space-m-l: clamp(1.4375rem, 1.2074rem + 1.0227vw, 2rem);
  --space-l-xl: clamp(1.875rem, 1.4148rem + 2.0455vw, 3rem);
  --space-xl-2xl: clamp(2.8125rem, 2.3267rem + 2.1591vw, 4rem);
  --space-2xl-3xl: clamp(3.75rem, 2.8295rem + 4.0909vw, 6rem);

  /* Custom pairs */
  --space-s-l: clamp(0.9375rem, 0.5028rem + 1.9318vw, 2rem);
}

/* Color palette and semantic color tokens */
:root {
  /* Text: ordered by hierarchy, least to most prominent */
  --color-text-muted: var(--_color-text-muted);
  --color-text: var(--neutral-1000);

  /* Backgrounds: ordered by elevation, lowest to highest */
  --color-bg: var(--neutral-0);
  --color-bg-elevated: var(--_color-bg-elevated);
  --color-bg-surface: var(--brand-secondary);
  --color-bg-surface-accent: var(--_color-bg-surface-accent);

  /* Borders: ordered by prominence, least to most visible */
  --color-border: var(--brand-secondary-soft);
  --color-border-soft: var(--_color-border-soft);

  /* Accent */
  --color-accent: var(--brand-primary-strong);
}

@media (prefers-color-scheme: light) {
  :root {
    --neutral-0: #f7f5f0;
    --neutral-1000: #152030;

    --brand-primary: #a31621;

    --brand-secondary: #acd9f1;
    --brand-secondary-soft: #3e76a9;

    --_color-text-muted: oklch(from var(--color-text) 45% 0.05 h);

    --_color-bg-elevated: oklch(from var(--color-bg) 99% 0 h);
    --_color-bg-surface-accent: oklch(from var(--color-bg-surface) 55% 0.1 h);

    --_color-border-soft: oklch(from var(--color-border) 90% 0.015 h);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --neutral-0: #110e09;
    --neutral-1000: #d7dbe0;

    --brand-primary: #e95d69;

    --brand-secondary: #2c799b;
    --brand-secondary-soft: #3c4958;

    --_color-text-muted: oklch(from var(--color-text) 0.7757 0.0216 h);

    --_color-bg-elevated: oklch(from var(--color-bg) 5% 0 h);
    --_color-bg-surface-accent: oklch(from var(--color-bg-surface) 0.8 0.101 h);

    --_color-border-soft: oklch(from var(--color-border) 35% 0.015 h);
  }
}
