/* Fluid typography calculated from Uptopia.fyi */

/* @link https://utopia.fyi/type/calculator?c=360,16,1.2,1240,18,1.2,5,2,&s=0.75|0.5|2|3|2|3|4,1.5|2|3|4|6,s-l&g=s%2Cl%2Cxl%2C12%2Cl%2Cxl%2C12,l,xl,12 */

:root {
  /* Step -2: 11.1111px → 12.5px */
  --font-step--2: clamp(0.6944rem, 0.6589rem + 0.1578vw, 0.7813rem);
  /* Step -1: 13.3333px → 15px */
  --font-step--1: clamp(0.8333rem, 0.7907rem + 0.1894vw, 0.9375rem);
  /* Step 0: 16px → 18px */
  --font-step-0: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem);
  /* Step 1: 19.2px → 21.6px */
  --font-step-1: clamp(1.2rem, 1.1386rem + 0.2727vw, 1.35rem);
  /* Step 2: 23.04px → 25.92px */
  --font-step-2: clamp(1.44rem, 1.3664rem + 0.3273vw, 1.62rem);
  /* Step 3: 27.648px → 31.104px */
  --font-step-3: clamp(1.728rem, 1.6396rem + 0.3927vw, 1.944rem);
  /* Step 4: 33.1776px → 37.3248px */
  --font-step-4: clamp(2.0736rem, 1.9676rem + 0.4713vw, 2.3328rem);
  /* Step 5: 39.8131px → 44.7898px */
  --font-step-5: clamp(2.4883rem, 2.3611rem + 0.5655vw, 2.7994rem);
}

/* Fluid spacing */

/* @link https://utopia.fyi/space/calculator?c=360,15,1.2,1240,16,1.25,5,2,1440&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s%2Cl%2Cxl%2C12%2Cl%2Cxl%2C12%2Cl%2Cxl%2C12%2Cl%2Cxl%2C12,l,xl,12 */
:root {
  --space-3xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
  --space-2xs: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
  --space-xs: clamp(0.6875rem, 0.6619rem + 0.1136vw, 0.75rem);
  --space-s: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --space-m: clamp(1.4375rem, 1.4119rem + 0.1136vw, 1.5rem);
  --space-l: clamp(1.875rem, 1.8239rem + 0.2273vw, 2rem);
  --space-xl: clamp(2.8125rem, 2.7358rem + 0.3409vw, 3rem);
  --space-2xl: clamp(3.75rem, 3.6477rem + 0.4545vw, 4rem);
  --space-3xl: clamp(5.625rem, 5.4716rem + 0.6818vw, 6rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1477rem + 0.4545vw, 0.5rem);
  --space-2xs-xs: clamp(0.5rem, 0.3977rem + 0.4545vw, 0.75rem);
  --space-xs-s: clamp(0.6875rem, 0.5597rem + 0.5682vw, 1rem);
  --space-s-m: clamp(0.9375rem, 0.7074rem + 1.0227vw, 1.5rem);
  --space-m-l: clamp(1.4375rem, 1.2074rem + 1.0227vw, 2rem);
  --space-l-xl: clamp(1.875rem, 1.4148rem + 2.0455vw, 3rem);
  --space-xl-2xl: clamp(2.8125rem, 2.3267rem + 2.1591vw, 4rem);
  --space-2xl-3xl: clamp(3.75rem, 2.8295rem + 4.0909vw, 6rem);

  /* Custom pairs */
  --space-s-l: clamp(0.9375rem, 0.5028rem + 1.9318vw, 2rem);
}

/* Transitions and animations */

:root {
  --transition-ui: color 0.15s, text-decoration-color 0.15s;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --transition-ui: color 0s, text-decoration-color 0s;
  }
}

/* Color palette and semantic color tokens */
:root {
  --neutral-0: light-dark(#f7f5f0, #110e09);
  --neutral-1000: light-dark(#152030, #d7dbe0);
  --brand-primary: light-dark(#acd9f1, #2c799b);
  --brand-primary-soft: light-dark(#3e76a9, #3c4958);
  --brand-secondary: light-dark(#a31621, #d34957);
  --brand-secondary-soft: light-dark(
    oklch(from var(--brand-secondary) calc(l + 0.05) c h),
    oklch(from var(--brand-secondary) calc(l - 0.03) c h)
  );
  --brand-secondary-hard: light-dark(
    oklch(from var(--brand-secondary) calc(l - 0.07) c h),
    oklch(from var(--brand-secondary) calc(l + 0.07) c h)
  );

  /* Text: ordered by hierarchy, least to most prominent */
  --color-text: var(--neutral-1000);
  --color-text-muted: light-dark(
    oklch(from var(--color-text) 45% 0.05 h),
    oklch(from var(--color-text) 77.57% 0.0216 h)
  );

  /* Backgrounds: ordered by elevation, lowest to highest */
  --color-bg: var(--neutral-0);
  --color-bg-elevated: light-dark(
    oklch(from var(--color-bg) 99% 0 h),
    oklch(from var(--color-bg) 5% 0 h)
  );
  --color-bg-surface: var(--brand-primary);
  --color-bg-surface-accent: light-dark(
    oklch(from var(--color-bg-surface) 55% 0.1 h),
    oklch(from var(--color-bg-surface) 80% 0.101 h)
  );

  /* Borders: ordered by prominence, least to most visible */
  --color-border: var(--brand-primary-soft);
  --color-border-soft: light-dark(
    oklch(from var(--color-border) 90% 0.015 h),
    oklch(from var(--color-border) 35% 0.015 h)
  );

  /* Accent */
  --color-accent: var(--brand-secondary);
  --color-accent-subtle: var(--brand-secondary-soft);
  --color-accent-emphasis: var(--brand-secondary-hard);

  /* Declare color themes */
  color-scheme: light dark;
}
